@model TestAmazon.Models.Prodotto
@using TestAmazon.Utility

@{
    ViewBag.Title = "Singolo";
}

<style>
    body {
        background-color: #E8E8E8;
    }

    .wrapper {
        background-color: white;
        height: 420px;
        width: 654px;
        margin: 50px auto;
        border-radius: 7px 7px 7px 7px;
        -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    }

    .product-img {
        float: left;
        height: 420px;
        width: 327px;
    }

        .product-img input[type=checkbox] {
            display: none
        }

        .product-img img {
            margin-top: 10%;
            vertical-align: middle;
            align-content: center;
            margin: auto;
            display: block;
            text-align: center;
            display: block;
            max-width: 250px;
            max-height: 250px;
            width: auto;
            height: auto;
            border-radius: 7px 0 0 7px;
            transition: transform 0.25s ease;
            cursor: zoom-in;
        }

        .product-img input[type=checkbox]:checked ~ img {
            transform: scale(1.5);
            cursor: zoom-out
        }

    .product-info {
        float: left;
        height: 420px;
        width: 327px;
        border-radius: 0 7px 10px 7px;
        background-color: #ffffff;
    }

    .product-text {
        height: 300px;
        width: 327px;
    }

        .product-text h1 {
            margin: 0 0 0 0px;
            padding-top: 22px;
            font-size: 34px;
            color: #222831;
            margin-right: 10px;
        }

        .product-text h1,
        .product-price-btn p {
            font-family: 'Times New Roman', serif;
        }

        .product-text h2 {
            font-size: 10px;
            font-family: 'Times New Roman', sans-serif;
            text-transform: uppercase;
            color: #222831;
            letter-spacing: 0.2em;
        }

        .product-text p {
            height: 125px;
            font-family: 'Times New Roman', serif;
            color: #222831;
            line-height: 1.7em;
            font-size: 15px;
            font-weight: lighter;
            overflow: hidden;
            margin-right: 10px;
        }

    .product-price-btn {
        height: 103px;
        width: 327px;
        margin-top: 17px;
        position: relative;
    }

    span {
        height: 50px;
        font-family: 'Times New Roman', serif;
        font-size: 34px;
    }

    .bigtext {
        font-family: 'Times New Roman', serif;
        font-size: 28px;
        font-weight: lighter;
        color: #222831;
    }

    .button-container {
        display: inline-block;
    }

        .button-container button {
            font-size: 40%;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid black;
            position: relative;
            bottom: 5px;
            height: 50px;
            width: 176px;
            margin: 1 40px 0 16px;
            border-radius: 60px;
            font-family: 'Times New Roman', sans-serif;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            color: #222831;
            background-color: white;
            cursor: pointer;
            outline: none;
            margin-left: 20px;
        }

            .button-container button:hover {
                background-color: #222831;
                color: white;
            }

    .immagine {
        margin-top: 10px;
        margin-right: 10px;
    }

    label input[type="checkbox"] {
        display: none;
    }

    .custom-checkbox {
        margin-left: 2em;
        position: relative;
        cursor: pointer;
    }

        .custom-checkbox .glyphicon {
            color: #F05454;
            position: absolute;
            top: -0.3em;
            left: -1em;
            font-size: 2em;
        }

        .custom-checkbox .glyphicon-star-empty {
            color: #F05454;
        }

        .custom-checkbox .glyphicon-star {
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
        }

        .custom-checkbox:hover .glyphicon-star {
            opacity: 1;
        }

        .custom-checkbox input[type="checkbox"]:checked ~ .glyphicon-star {
            opacity: 1;
        }

    .cancella {
        margin-top: 10px;
        margin-right: 10px;
        padding-right: 38%;
        font-size: 16px;
        color: #F05454;
    }

    .bottoneIndietro {
        background: transparent;
        border: none;
    }

    span {
        content: "\2190";
    }
</style>


<html lang="en">

<head>
    <title>@Model.Nome</title>
</head>

<body>
    <div class="wrapper">
        <div class="product-img">
            <div align="left" style="display: inline">
                <button class="bottoneIndietro" onclick="history.back()"><i style="margin-top: 8px; margin-left: 10px; color: #F05454;" class="fa-solid fa-arrow-left-long fa-2x"></i></button>
            </div>
            <label class="product-img" style=" margin-top: 20%">
                <input type="checkbox" />
                <img src="@Model.IMG" height="420" width="327">
            </label>
        </div>

        <div class="product-info">

            <div class="product-text" margin="10px">

                @if (pref.CheckPreferiti(2, Model.Id_Prodotto))
                {
                    <div class="immagine" align="right">

                        <label for="id-of-input" class="custom-checkbox">

                            <input type="checkbox" id="id-of-input" onclick="" checked />
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star"></i>
                        </label>
                    </div>
                }
                else
                {
                    <div class="immagine" align="right">
                        <label for="id-of-input" class="custom-checkbox">
                            <input type="checkbox" id="id-of-input" onclick="" />
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star"></i>
                        </label>

                    </div>
                }

                <h1>@Model.Nome</h1>
                <br />

                <h2>Descrizione </h2><br />
                <p>@Model.Descrizione</p>
            </div>
            <div class="bigtext">
                @Model.Prezzo.ToString("N") €
                <div class="button-container">
                    <button>Acquista</button>
                </div>
                <a href="https://www.google.com"><div class="cancella" align="right">Elimina prodotto</div></a>
            </div>
        </div>
    </div>
</body>
</html>