@model TestAmazon.Models.Prodotto

@{
    ViewBag.Title = "Singolo";
}


<div class="container">
    <div class="toppane">
        <h1>@Model.Nome</h1>
    </div>

    <div class="leftpane">
        <img src="@Model.IMG">
    </div>
    <div class="middlepane">
        <h1>@Model.Prezzo</h1>
    </div>
    <div class="rightpane">
        <p>@Model.Descrizione</p>
        <input type="hidden" name="ID" value="@Model.Id_Prodotto" />
        <button type="submit" value="Singolo">Acquista</button>
        <button type="submit" value="Preferiti">Aggiungi ai preferiti</button>
    </div>
</div>




<p>
    @Html.ActionLink("Agguingi ai preferiti", "Preferiti", new { id = Model.Id_Prodotto }) |
    @Html.ActionLink("Home", "Index")
</p>
