@model TestAmazon.Models.Prodotto
@using TestAmazon.Utility

@{
    ViewBag.Title = "Singolo";
}

<style>
    body {
        background-color: #E8E8E8;
        margin-top: 50px;
    }

    .wrapper {
        background-color: white;
        height: 520px;
        width: 854px;
        margin: 50px auto;
        border-radius: 7px 7px 7px 7px;
        -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    }

    .product-img {
        float: left;
        height: 420px;
        width: 527px;
    }

        .product-img input[type=checkbox] {
            display: none
        }

        .product-img img {
            margin-top: 4%;
            vertical-align: middle;
            align-content: center;
            margin: auto;
            display: block;
            text-align: center;
            display: block;
            max-width: 300px;
            max-height: 300px;
            width: auto;
            height: auto;
            border-radius: 7px 0 0 7px;
            transition: transform 0.25s ease;
            cursor: zoom-in;
        }

        .product-img input[type=checkbox]:hover ~ img {
            transform: scale(1.2);
            cursor: zoom-out
        }


        .product-img input[type=checkbox]:checked ~ img {
            transform: scale(1.4);
            cursor: zoom-out
        }

    .product-info {
        float: left;
        height: 420px;
        width: 327px;
        border-radius: 0 7px 10px 7px;
        background-color: #ffffff;
    }

    .product-text {
        height: 300px;
        width: 327px;
    }

        .product-text h1 {
            margin: 0 0 0 0px;
            padding-top: 22px;
            font-size: 34px;
            color: #222831;
            margin-right: 10px;
        }

        .product-text h1,
        .product-price-btn p {
font-family: 'Lato', sans-serif;        }

        .product-text h2 {
            font-size: 10px;
            font-family: 'Lato', sans-serif;
            text-transform: uppercase;
            color: #222831;
            letter-spacing: 0.2em;
        }

        .product-text p {
            height: 125px;
            font-family: 'Lato', sans-serif;
            color: #222831;
            line-height: 1.7em;
            font-size: 15px;
            font-weight: lighter;
            overflow: hidden;
            margin-right: 10px;
        }

    .product-price-btn {
        height: 103px;
        width: 327px;
        margin-top: 17px;
        position: relative;
    }

    span {
        height: 50px;
        font-family: 'Lato', sans-serif;
        font-size: 34px;
    }

    .bigtext {
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        font-weight: bold;
        color: #222831;
    }

    .button-container {
        display: inline-block;
    }



        .button-container button {
            font-size: 40%;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid black;
            position: relative;
            bottom: 5px;
            height: 60px;
            width: 176px;
            margin: 1 40px 0 16px;
            border-radius: 60px;
            font-family: 'Lato', sans-serif;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            color: #222831;
            background-color: white;
            cursor: pointer;
            outline: none;
            margin-left: 20px;
            border-color: #222831;
        }

            .button-container button:hover {
                background-color: #30475E;
                border-color: white;
                color: white;
            }

    .immagine {
        margin-top: 10px;
        margin-right: 10px;
    }



    label input[type="checkbox"] {
        display: none;
    }

    .cancella {
        margin-top: 10px;
        margin-right: 10px;
        padding-right: 38%;
        font-size: 16px;
        color: #F05454;
    }

    .bottoneIndietro {
        background: transparent;
        border: none;
    }

    span {
        content: "\2190";
    }

    input[type="number"] {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    .number-input {
        border: 0;
        display: inline-flex;
    }

        .number-input,
        .number-input * {
            box-sizing: border-box;
        }

            .number-input button {
                outline: none;
                -webkit-appearance: none;
                background-color: white;
                border: none;
                align-items: center;
                justify-content: center;
                width: 2rem;
                height: 2rem;
                cursor: pointer;
                margin: 3px;
                position: relative;
                border-radius: 10%;
                border: 10px;
                color: #30475E;
                border-color: red;
            }

                .number-input button:before,
                .number-input button:after {
                    display: inline-block;
                    position: absolute;
                    content: '';
                    width: 1rem;
                    height: 1px;
                    background-color: #30475E;
                    transform: translate(-50%, -50%);
                }

                .number-input button.plus:after {
                    transform: translate(-50%, -50%) rotate(90deg);
                }

            .number-input input[type=number] {
                font-family: sans-serif;
                max-width: 5rem;
                padding: .5rem;
                border: none;
                border-width: 0 2px;
                font-size: 1.5rem;
                height: 3rem;
                font-weight: bold;
                text-align: center;
                color: #30475E;
            }
</style>



<html lang="en">

<head>
    <title>@Model.Nome</title>
</head>

<body>
    <div class="wrapper">
        <div class="product-img">
            <div align="left" style="display: inline">
                <button class="bottoneIndietro" onclick="location.href='/'"><i style="margin-top: 8px; margin-left: 10px; color: #30475E;" class="fa-solid fa-arrow-left-long fa-2x"></i></button>
            </div>
            <label class="product-img" style=" margin-top: 10%; ">
                <input type="checkbox" />
                <img src="@Model.IMG" height="420" width="327">
            </label>
        </div>

        <div class="product-info">

            <div class="product-text" margin="10px">
                <div class="immagine" align="right">
                    @{
                        if (Session["IdUtente"] != null)
                        {
                            if (pref.CheckPreferiti(long.Parse(Session["IdUtente"].ToString()), Model.Id_Prodotto))
                            {
                                <a href="../../Prodotto/RemovePreferiti?idUtente=@long.Parse(Session["IdUtente"].ToString())&idProdotto=@Model.Id_Prodotto" class="button" style="color: #30475E;"><i class="fa-solid fa-star fa-xl "></i></a>
                            }
                            else
                            {
                                <a href="../../Prodotto/Add?idUtente=@long.Parse(Session["IdUtente"].ToString())&idProdotto=@Model.Id_Prodotto" class="button" style="color: #30475E;"><i class="fa-regular fa-star fa-xl"></i></a>
                            }
                        }
                    }
                </div>
                <h1>@Model.Nome</h1>
                <br />

                <h2>Descrizione </h2><br />
                <p>@Model.Descrizione</p>
            </div>


            <div class="bigtext">
                @Model.Prezzo.ToString("N") €
                @{
                    if (Session["IdUtente"] != null)
                    {
                                <div class="button-container" style="margin-top: 60px;">
                                    <a href="#" class="btn button-container" onclick="miaFunzione(@Model.Id_Prodotto, @ViewBag.IdOrdine)"><button>Aggiungi</button></a>
                                </div>
                    }
                    else
                    {
                        <div class="button-container" style="margin-top: 60px;">
                            <a href="../../Utente/Login" class="button-container"><button>Acquista</button></a>
                        </div>
                    }
                }

                <div class="number-input" style="float: right; margin-right: 45%; margin-top: 1px">
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>
                    <input type="number" class="quantity" id="quantity" min="1" value="1" step="1" max="99" disabled>
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                </div>
                <br />
            </div>
            @{
                if (Session["IdUtente"] != null)
                {
                    if (@Session["Ruolo"].ToString() == "admin")
                    {
                        <a href="../../Prodotto/RemoveProduct?idProdotto=@Model.Id_Prodotto"><div class="cancella" style="float: right; margin-top: 0px; font-family: 'Times New Roman', sans-serif;">Elimina prodotto</div></a>
                    }
                }
            }
        </div>


    </div>
</body>
</html>

<script>
    function miaFunzione(idProdotto, idOrdine) {
        var idProd = idProdotto;
        var idOrd = idOrdine;
        var quant = document.getElementById("quantity").value;
        window.location.href = "../../Prodotto/Buy?idOrdine=" + idOrd + "&idProdotto=" + idProd + "&quantita=" + quant;
    }
</script>
