@model IEnumerable<TestAmazon.Models.Prodotto>

    @{

    ViewBag.Title = "Preferiti";

    }
    <style>
        .a {
            border-bottom: 3px solid #000000
        }

        .city {
            border-style: outset;
            background-color: white;
            margin-top: 10px;
            height: 180px;
            width: 1140px
        }

        div.gallery {
            margin: 1px;
            border: 1px solid white;
            float: left;
            width: 200px;
            height: 173px;
            text-align: center;
            align-content: center;
        }


            div.gallery img {
                margin-top: 6px;
                margin-bottom: 6px;
                max-height: 144px;
                max-width: 190px;
                width: auto;
                height: auto;
            }

        div.desc {
            padding: 15px;
            text-align: center;
        }
    </style>



    <body>

        @if (Model.Count()!=0)

        {

        foreach (var item in Model)

        {


        <div class="city">
            <div class="gallery">
                <img src=" @Html.DisplayFor(modelItem => item.IMG)">
            </div>




            <h2>@Html.DisplayFor(modelItem => item.Nome)</h2>
            <p>@Html.DisplayFor(modelItem => item.Descrizione)</p>

            <p>@Html.DisplayFor(modelItem => item.nomecat)</p>

            @Html.ActionLink("Edit", "Edit", new { /*  id=item.Id_prodotto */ }) |

            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |

            @Html.ActionLink("Preferiti", "Remove", new { id_utente = 1, id_prodotto = item.Id_Prodotto })


        </div>
        //<div class=" a"></div>

        }

        }

        else
        {

        <h1>La lista Preferiti è vuota,@Html.ActionLink("torna alla home","Index","Home").</h1>

        <div class="a"></div>
        }

    </body>
