@model IEnumerable<TestAmazon.Models.Prodotto>

@{

    ViewBag.Title = "Preferiti";

}
<style>
    w.prezzo{
        font-weight:600;
    }
    footer {
        margin-top: 10px;
    }

    .line {
        border-bottom: 2px solid rgb(48, 71, 94);
    }

    p.prezzo {
        font-family: 'Lato', sans-serif;
        float: left;
        width: 150px;
        height: 30px;
        margin-top: 4px;
        margin-bottom: 1px;
        margin-left: 10px;
        margin-right: 20px;
    }

    p.cat {
        font-family: 'Lato', sans-serif;
        margin-top: 4px;
        margin-bottom: 1px;
        margin-left: 5px;
        float: left;
        width: 200px;
        height: 30px;
    }
    p.desc {
        font-family: 'Lato', sans-serif;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        float: left;
        width: 700px;
        height: 70px;
    }


    p{
         
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        float: left;
        width: 700px;
        height: 70px;
    }

    h {
        font-size: 36px;
        margin-left: 10px;
        margin-top: 5px;
        margin-bottom: 10px;
        float: left;
        width: 800px;
        height: 40px;
    }

    div.cont {
        margin: 1px;
        border: none;
        float: right;
        width: 120px;
        height: 175px;
        text-align: center;
        align-content: center;
    }

    .button1 {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        border-radius: 20px;
        float: right;
        color: rgb(48, 71, 94);
        background-color: none;
        border: 1px solid rgb(48, 71, 94);
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        width: 130px;
        height: 50px;
    }

        .button1:hover {
            background-color: rgb(48, 71, 94);
            color: white;
        }



    .city {
        border: 2px solid rgb(48, 71, 94);
        border-radius: 20px;
        background-color: white;
        margin-top: 10px;
        height: 180px;
        width: 1140px
    }

    div.gallery {
        margin: 1px;
        border: none;
        float: left;
        width: 200px;
        height: 173px;
        text-align: center;
        align-content: center;
    }

        div.gallery:hover {
            transform: scale(1.1);
        }

        div.gallery img {
            margin-top: 20px;
            margin-bottom: 20px;
            max-height: 140px;
            max-width: 190px;
            width: auto;
            height: auto;
        }

    div.desc {
        padding: 15px;
        text-align: center;
    }
</style>


<body>




    @if (Model.Count() != 0)

    {
        <h1 style="font-family: 'Lato', sans-serif">La tua lista Preferiti.</h1>
        <div class="line"></div>

        foreach (var item in Model)

        {


            <div class="city">
                <div class="gallery">
                    <a href="../../Prodotto/Singolo/@item.Id_Prodotto"> <img src=" @Html.DisplayFor(modelItem => item.IMG)"></a>
                </div>




                <h style="font-family: 'Lato', sans-serif">@Html.DisplayFor(modelItem => item.Nome)</h>


                <div class="cont">
                    <a href="../../Preferiti/RemovePreferiti?idUtente=@long.Parse(Session["IdUtente"].ToString())&idProdotto=@item.Id_Prodotto"><button class="button1">Rimuovi da preferiti</button></a>

                    <a href="../../Preferiti/AggiungiCarrello?idUtente=@long.Parse(Session["IdUtente"].ToString())&idProdotto=@item.Id_Prodotto"><button class="button1">Aggiungi a carrello</button></a>

                    <a href="../../Prodotto/Singolo/@item.Id_Prodotto"><button class="button1">Vai al prodotto</button></a>
                </div>
                <p class="desc"> @Html.DisplayFor(modelItem => item.Descrizione)</p>

                <p class="prezzo">Prezzo:<w class="prezzo"> @item.Prezzo.ToString("N") €</w></p>
                <p class="cat">Categoria: <a href="../../Ricerca/Categorys?searchCategory=@item.IDcat&searchText="><w class="prezzo">@item.nomecat</w></a></p>

            </div>


        }
        <footer>
            <div class="line"></div>
        </footer>
    }

    else
    {

        <h1 style="font-family: 'Lato', sans-serif">La lista Preferiti è vuota,@Html.ActionLink("torna alla home", "Index", "Home").</h1>

        <div class="line"></div>
    }



</body>
