@model IEnumerable<TestAmazon.Models.Prodotto>

@{

    ViewBag.Title = "Preferiti";

}
<style>
    p.cat {
        margin-top: 20px;
        margin-bottom:1px;
        margin-left: 10px;
        float: left;
        width: 800px;
        height: 30px;
    }
    p {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        float: left;
        width: 800px;
        height: 50px;
    }
    h {
        font-size: 40px;
        margin-left: 10px;
        margin-top: 5px;
        margin-bottom: 10px;
        float: left;
        width: 800px;
        height: 40px;
    }
    div.cont {
        margin: 1px;
        border: 1px solid white;
        float: right;
        width: 100px;
        height: 120px;
        text-align: center;
        align-content: center;
    }

    .button1 {
        float: right;
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }


    .a {
        border-bottom: 3px solid #000000
    }

    .city {
        border-style: outset;
        background-color: white;
        margin-top: 10px;
        height: 180px;
        width: 1140px
    }

    div.gallery {
        margin: 1px;
        border: 1px solid white;
        float: left;
        width: 200px;
        height: 173px;
        text-align: center;
        align-content: center;
    }


        div.gallery img {
            margin-top: 6px;
            margin-bottom: 6px;
            max-height: 144px;
            max-width: 190px;
            width: auto;
            height: auto;
        }

    div.desc {
        padding: 15px;
        text-align: center;
    }
</style>



<body>

    @if (Model.Count()!=0)

        {

        foreach (var item in Model)

        {


    <div class="city">
        <div class="gallery">
            <img src=" @Html.DisplayFor(modelItem => item.IMG)">
        </div>




        <h>@Html.DisplayFor(modelItem => item.Nome)</h>
        

        @*@Html.ActionLink("Edit", "Edit", new { /*  id=item.Id_prodotto */ }) |

        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |

        @Html.ActionLink("Preferiti", "Remove", new { id_utente = 1, id_prodotto = item.Id_Prodotto })*@

        <div class="cont">
            <button class="button1" oneclick="" value="Remove"></button>
            <button class="button1" oneclick="" value="Remove"></button>
            <button class="button1" oneclick="" value="Remove"></button>
        </div>
        <p>  @Html.DisplayFor(modelItem => item.Descrizione)</p>

        <p class="cat">Categoria:@Html.ActionLink(item.nomecat, "Details", new { /* id=item.PrimaryKey */ })</p>
    </div>


        }

        }

        else
        {

    <h1>La lista Preferiti è vuota,@Html.ActionLink("torna alla home","Index","Home").</h1>

    <div class="a"></div>
        }

</body>
