
<!DOCTYPE html>
<html>
<head>
    <script src="https://kit.fontawesome.com/ea32530151.js" crossorigin="anonymous"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @using TestAmazon.Utility

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/css/homepage.css" rel="stylesheet" />
    <script src="~/Scripts/js/homepage.js"></script>
    
    @{
        
        long IdUtente = 0;
        
       
        if (Session["IdUtente"] != null && RegularExp.IsInt(Session["IdUtente"].ToString()))
        {
            IdUtente = int.Parse(Session["IdUtente"].ToString());
        }
        
    }
   
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top colornavBar">
        <div class="row">
            <div class="col-lg-3" style="float:left;">
                <a href="/"><img src="~/IMGS/logo.png" /></a>
            </div>
            @if (@Session["Utente"] != null)
            {

                if (@Session["Ruolo"].ToString() == "admin")
                {
                    <div class="col-lg-1" style="float:right;margin-top:10px;">
                        @Html.ActionLink("Gestione Utenti", "GestioneUtenti", "Utente")
                    </div>
                }
                <div  style="float: right; margin-top: 10px; min-width: 30px;margin-right:10px ">
                    @Html.ActionLink(" ", "Logout", "Utente", "", new { @class = "fa-solid fa-right-from-bracket fa-xl", style = "color:white;margin-top:10px;" })
                </div>
                <div  style="float: right; margin-top: 10px; min-width:30px">
                    <a href="../../Carrello/CarrelloUtente" style="color: white; margin-top: 10px"><i class="fa-solid fa-cart-shopping fa-xl" style="margin-top:10px"></i></a>
                    @*@Html.ActionLink("Carrello", "CarrelloUtente", "Carrello")*@
                </div>
                @*Da trasformare in dropdown list*@
                <select name="select_user" id="select_user" onchange="OnChangeDDLUser(@Session["IdUtente"].ToString())">
                    <option value="0" >@Session["Utente"].ToString()</option>
                    <option value="1">Lista Preferiti</option>
                </select>
                @*<div class="col-lg-2" style="float:right;margin-top:10px;color:white;font-size:13px;min-width:50px"><Label>@Session["Utente"].ToString()</Label> <i class="fa-solid fa-user fa-xl"></i> </div>*@

            }
            else
            {
                <div class="col-sm-1" style="float: right; margin-top: 10px; min-width: 10px; margin-right: 10px">
                    @Html.ActionLink(" ", "SignUp", "Utente","", new {@class = "fa-solid fa-user-plus fa-xl", style="color:white"})
                </div>
                <div class="col-sm-1" style="float: right; margin-top: 10px; min-width: 10px; margin-right: 10px">
                    @Html.ActionLink(" ", "Login", "Utente","",new {@class= "fa-solid fa-arrow-right-to-bracket fa-xl", style = "color:white" })
                </div>
            }

        </div>

                @*<div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Login", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Sign-Up", "SignUp", "Utente")</li>
                        <li>@Html.ActionLink("Login", "Login", "Utente")</li>

                        @if (Session["Utente"] != null)
                        {




                        }


                    </ul>
                </div>
            </div>*@
            </div>
    <div class="container body-content color1">
        @RenderBody()
        <hr />
        <footer>
            
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<script>
        
</script>