<!DOCTYPE html>
<html>
<head>
    <script src="https://kit.fontawesome.com/ea32530151.js" crossorigin="anonymous"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @using TestAmazon.Utility
    @using TestAmazon.Models

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/css/homepage.css" rel="stylesheet" />
    <script src="~/Scripts/js/homepage.js"></script>
    
   
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top colornavBar">
        <div class="row">
            <div class="col-lg-3">
                <a href="/"><img src="~/IMGS/logo.png" /></a>
            </div>


           
            @if (Session["U"] != null)

            {
                var utente = SerDes.DeSerialize<Utente>(Session["U"].ToString());
                
            if(UtentePartial.GetRuolobyId((int)utente.Id_Utente) == "admin")
             {
                 <div class="col-lg-1" style="float:right;margin-top:10px;">
                     @Html.ActionLink("Gestione Utenti", "GestioneUtenti", "Utente")
                 </div>
                 }
                 <div style="float: right; margin-top: 10px; width: 30px;margin-right:10px ">
                     @Html.ActionLink(" ", "Logout", "Utente", "", new { @class = "fa-solid fa-right-from-bracket fa-xl", style = "color:white;margin-top:10px;" })
                 </div>
                 <div style="float: right; margin-top: 10px; width:30px">
                     <a href="../../Carrello/CarrelloUtente" style="color: white; margin-top: 10px"><i class="fa-solid fa-cart-shopping fa-xl" style="margin-top:10px"></i></a>
                     @*@Html.ActionLink("Carrello", "CarrelloUtente", "Carrello") *@
        </div>
                        <div class="col-md-1" style="float:right;margin-top:10px;color:white;font-size:13px"> @utente.Nome @utente.Cognome <i class="fa-solid fa-user fa-xl"></i> </div>

                        }
                        else
                        {
                        <div class="col-lg-1" style="float: right; margin-top: 10px;">
                            @Html.ActionLink("SignUp", "SignUp", "Utente")
                        </div>
                        <div class="col-lg-1" style="float: right; margin-top: 10px;">
                            @Html.ActionLink("Login", "Login", "Utente")
                        </div>
                        }

            </div>

              
            </div>
    <div class="container body-content color1">
        @RenderBody()
        <hr />
        <footer>
            
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
