@model TestAmazon.Models.Utente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>



<div align="left" style="display: inline">
    <button class="bottoneIndietro" onclick="history.back()"><i style="margin-top: 8px; margin-left: 10px; color: #F05454;" class="fa-solid fa-arrow-left-long fa-2x"></i></button>
</div>
<div>
    <h4>Utente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cognome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Password)*@
            **********
        </dd>

        <dt>
            @Html.DisplayName("Ruolo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ruolo.Nome_ruolo)
        </dd>

    </dl>
</div>

