@model TestAmazon.Models.Utente

@{
    ViewBag.Title = "Details";
}


<div align="left" style="display: inline">
    <button class="btn btn_personal searchbarbtn" onclick="history.back()"><i  class="fa-solid fa-arrow-left fa-xl"></i></button>
</div>

<h2>Details</h2>



<div>
    <h4>Utente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cognome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Password)*@
            **********
        </dd>

        <dt>
            @Html.DisplayName("Ruolo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ruolo.Nome_ruolo)
        </dd>
        <dt>
            @Html.DisplayName("Prodotti preferiti")
        </dt>

        <dd>
            @ViewBag.Preferiti.ToString()
        </dd>
        <dt>
            @Html.DisplayName("Carrello attivo")
        </dt>

        <dd>
            @ViewBag.Carrello.ToString()
        </dd>


    </dl>
</div>

