@model IEnumerable<TestAmazon.Models.Prodotto>
@using TestAmazon.Models;

@{
    ViewBag.Title = "Index";
}

<div style="text-align:center;"><a href="/"><img src="~/IMGS/logo.png" style="border-radius: 10px;margin:20px" /></a></div>


<div class="container" name="body_container">
    <div class="container" name="pagebuttons_container">
        @*Qui ci metto il tasto di ricerca*@

        <button style="float:right;" class="btn" onclick="window.location.href='../Ricerca/Categorys/'">
            Cerca
        </button>
    </div>
    <div class="container text-center " style="border-radius: 10px; border-color: rgb(204,204,204); min-width:400px" name="grid_container">
        <div class="row">
            @{


            // 3 elementi per riga
            if (Model != null && Model.Any())
            {
                foreach (var product in Model)
                {
                    string id_product_button = $"product{product.Id_Prodotto}";
                    string price_p = $"p{product.Id_Prodotto}";
                    string onclick = $"window.location.href='../Prodotto/Singolo/{product.Id_Prodotto}'";
                    <button type="button" id="@id_product_button" class="btn prodotto prodottoVuoto table-bordered" onclick="@onclick">
                        <div style="height:250px;width:250px">
                            <br />
                            <img src="@product.IMG" class="img_thumb"  />
                            <br />
                            @product.Nome
                            <br />
                            @product.Prezzo €
                            <br />
                        </div>
                    </button>
                }
                else
                {
                    <div style="width:250px;height:250px" class="btn prodottoVuoto" >

                    </div>
                    }
                }

            }

        </div>
    </div>
</div>
