@model IEnumerable<TestAmazon.Models.Prodotto>
@using TestAmazon.Models;
@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center"><img src="~/IMGS/logo.png" /></h2>
<style>
    .prodotto{
        background-color:rgb(255,255,255);
        width:250px;
        height:250px;
    }
    .prodottoVuoto {
        background-color: rgb(204,204,204);
        width: 250px;
        height: 250px;
    }
    .color1{

    }
    .color2{

    }
    .color3{

    }
    
</style>

<div class="container" name="body_container">
    <div class="container" name="pagebuttons_container">
        @*Qui ci metto il tasto di ricerca*@
    </div>
    <div class="container" name="grid_container">
        @{
            List<Prodotto> prodotti = Model.ToList();
            int numElemPerRiga = 3;
            while (prodotti.Count() % numElemPerRiga != 0)
            {
                prodotti.Add(new Prodotto() { Id_Prodotto = -1 });
            }
            // 3 elementi per riga
            int count = 0;
            foreach (var product in prodotti)
            {
                count++;
                //creare il corpo
                if (product.Id_Prodotto != -1)
                {
                    string id_product_button = $"product{product.Id_Prodotto}";
                    string onclick = $"window.location.href='../Prodotto/Singolo/{product.Id_Prodotto}'";
                    <button type="button" id="@id_product_button" class="btn prodotto" onclick="@onclick">
                        <div style="height:250px;width:250px">
                            <br />
                            <img src="@product.IMG" style="width:150px;height:150px" />
                            <br />
                            @product.Nome
                            <br />
                            @product.Prezzo €
                            <br />
                        </div>
                    </button>
                }
                else
                {
                    
                        <div style="width:250px;height:250px" class="btn prodottoVuoto" >

                        </div>
                    
                }
                if (count % numElemPerRiga == 0)
                {
                    <br />
                }
            }

        }
    </div>
</div>
