@model IEnumerable<TestAmazon.Models.Prodotto>
@using TestAmazon.Models;

@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center"><img src="~/IMGS/logo.png" /></h2>
<style>
    .prodotto{
        background-color:rgb(255,255,255);
        width:250px;
        height:250px;
        margin-bottom:10px;
        margin-right:10px;
        border:hidden;
    }
    
    .prodottoVuoto {
        background-color: rgb(204,204,204);
        width: 250px;
        height: 250px;
    }
    .color1{

    }
    .color2{

    }
    .color3{

    }
    .img_thumb{
        width:125px;
        height:125px;
    }
    
</style>

<div class="container" name="body_container">
    <div class="container" name="pagebuttons_container">
        @*Qui ci metto il tasto di ricerca*@
    </div>
    <div class="container" name="grid_container">
        @{


            // 3 elementi per riga
            if (Model != null && Model.Any())
            {
                foreach (var product in Model)
                {
                    string id_product_button = $"product{product.Id_Prodotto}";
                    string onclick = $"window.location.href='../Prodotto/Singolo/{product.Id_Prodotto}'";
                    <button type="button" id="@id_product_button" class="btn prodotto prodottoVuoto table-bordered" onclick="@onclick">
                        <div style="height:250px;width:250px">
                            <br />
                            <img src="@product.IMG" class="img_thumb"  />
                            <br />
                            @product.Nome
                            <br />
                            @product.Prezzo €
                            <br />
                        </div>
                    </button>
                }
                else
                {
                    <div style="width:250px;height:250px" class="btn prodottoVuoto" >

                    </div>
                }
            }

        }
    </div>
</div>
