@model IEnumerable<TestAmazon.Models.Prodotto>
@using TestAmazon.Models

@{
    ViewBag.Title = "CarrelloUtente";
}

<style>
    .prodotto {
        background-color: rgb(255,255,255);
        width: 100%;
        min-width:fit-content;
        height: auto;
        max-height: fit-content;
        margin-bottom: 10px;
        border: 1px solid;
    }
    .prod {
        height: auto;
        min-width: fit-content;
        width: auto;
        margin-top: 2%;
        margin-bottom: 2%;
        float: left;
    }

    .rimuovi, .preferiti{
        background-color: rgb(255,255,255);
        width: 20%;
        min-width: fit-content;
        border: 1px solid;
        margin: 5px;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align:center;
        float: right;
    }
    .acquista {
        background-color: rgb(255,255,255);
        width: 20%;
        min-width: fit-content;
        border: 1px solid;
        text-align:center;
        float: right;
    }
    .totale {
        height: 50px;
        width: 100%;
        border: 1px solid;
        
    }

    .color1 {
    }

    .color2 {
    }

    .color3 {
    }

    .img_thumb {
        width: 30%;
        height: 30%;
    }
</style>

<h2>Il tuo Carrello</h2>

<div class="container" name="grid_container">
    @{
        List<Prodotto> prodotti = Model.ToList();
        int numElemPerRiga = 1;
        decimal totale = 0;
        while (prodotti.Count() % numElemPerRiga != 0)
        {
            prodotti.Add(new Prodotto() { Id_Prodotto = -1 });
        }
        // 3 elementi per riga
        foreach (var product in prodotti)
        {
            string id_product_button = $"product{product.Id_Prodotto}";
            string onclickProdotto = $"window.location.href='../Prodotto/Singolo/{product.Id_Prodotto}'";
            <div type="button" id="@id_product_button" class="btn prodotto" onclick="@onclickProdotto">
                <div class="prod">
                    <img src="@product.IMG" class="img_thumb" /> @product.Nome : @product.Prezzo €
                </div>
                <div type="button" id="prova" class="btn preferiti" onclick="">
                    Aggiungi ai preferiti
                </div>
                <div type="button" id="prova2" class="btn rimuovi" onclick="">
                    Rimuovi dal Carrello
                </div>
            </div>
            totale = totale + product.Prezzo;
        }
        <div class="totale">
            <p style="font-size:150%;text-align: left; padding-left: 5%; margin-top: 10px">Totale: @totale € </p>
            
        </div>
    }
</div>