@model IEnumerable<TestAmazon.Models.Carrello>
@using TestAmazon.Utility
@using TestAmazon.Models


@{
    ViewBag.Title = "CarrelloUtente";
    List<Prodotto> prodotti = ViewBag.prodotti;
    List<Prodotto> preferiti = ViewBag.preferiti;
    List<Carrello> quantita = ViewBag.quantita;
    decimal totale = 0;
    long idOrdine = ViewBag.idOrdine;
    bool preferito = false;
    var quantitaSingolo = 0;
    int num = 0;
}

<style>
    .prodotto2 {
        background-color: rgb(255,255,255);
        width: 100%;
        min-width: fit-content;
        height: auto;
        max-height: fit-content;
        margin-bottom: 10px;
        border: 1px solid;
        float: left;
    }

    .prod2 {
        height: auto;
        max-width: fit-content;
        width: 60%;
        margin-top: 2%;
        margin-bottom: 2%;
        float: left;
        text-align: left;
        padding-left: 5%;
    }

    .rimuovi, .preferiti {
        background-color: rgb(255,255,255);
        width: 20%;
        min-width: fit-content;
        border: 1px solid;
        margin: 5px;
        margin-top: 1%;
        text-align: center;
        float: right;
        color: black;
    }

    .totale {
        height: 75px;
        min-height: fit-content;
        width: 100%;
        border: 1px solid;
    }

    .ptotale {
        font-size: 150%;
        text-align: left;
        padding-left: 5%;
        margin-top: 2%;
        float: left;
    }

    .acquista {
        background-color: rgb(255,255,255);
        width: 20%;
        min-width: fit-content;
        border: 1px solid;
        margin-right: 1%;
        margin-top: 1.5%;
        text-align: center;
        float: right;
    }

    .login {
        background-color: rgb(255,255,255);
        width: 100%;
    }

    .img_thumb2 {
        width: 20%;
        height: 20%;
    }

    input[type="number"] {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    .number-input {
        border: 1px solid;
        display: inline-flex;
        float: right;
    }

        .number-input,
        .number-input * {
            box-sizing: border-box;
        }

            .number-input button {
                outline: none;
                -webkit-appearance: none;
                background-color: white;
                border: 1px solid;
                align-items: center;
                justify-content: center;
                width: 2rem;
                height: 2rem;
                cursor: pointer;
                margin: 3px;
                position: relative;
                border-radius: 10%;
                border: 10px;
                color: #30475E;
                border-color: red;
            }

                .number-input button:before,
                .number-input button:after {
                    display: inline-block;
                    position: absolute;
                    content: '';
                    width: 1rem;
                    height: 1px;
                    background-color: #30475E;
                    transform: translate(-50%, -50%);
                }

                .number-input button.plus:after {
                    transform: translate(-50%, -50%) rotate(90deg);
                }

            .number-input input[type=number] {
                font-family: sans-serif;
                max-width: 5rem;
                padding: .5rem;
                border: none;
                border-width: 0 2px;
                font-size: 1.5rem;
                height: 3rem;
                font-weight: bold;
                text-align: center;
                color: #30475E;
            }
</style>

<h2>Il tuo Carrello</h2>
@{
    if (Session["IdUtente"] == null)
    {
        <div class="login">
            Login non effettuato<br />
            <a href="">Effettua il login per visualizzare il tuo carrello</a>
        </div>
    }
    else
    {
        <div class="container" name="grid_container">
            @{
                if (prodotti.Count == 0)
                {
                    <div class="login">
                        Carrello vuoto<br />
                        @Html.ActionLink("Comincia ad acquistare", "Index", "Home");
                    </div>
                }
                else
                {
                    foreach (var product in prodotti)
                    {
                        preferito = pref.CheckPreferiti(long.Parse(Session["IdUtente"].ToString()), product.Id_Prodotto);
                        quantitaSingolo = quantita.Find(i => i.Id_Prodotto == product.Id_Prodotto).Quantita;
                        string id_product_button = $"product{product.Id_Prodotto}";
                        string id_input_quant = $"quantity{num}";
                        string onclickProdotto = $"window.location.href='../Prodotto/Singolo/{product.Id_Prodotto}'";
                        <div class="prodotto2">
                            <div class="prod2">
                                <img src="@product.IMG" id="@id_product_button" onclick="@onclickProdotto" class="btn img_thumb2" /> @product.Nome : @product.Prezzo € | Quantità: @quantitaSingolo
                            </div><br />
                            @if (preferito == false)
                            {
                                @Html.ActionLink("Aggiungi ai preferiti", "AddPreferito", "Carrello", new { idUtente = long.Parse(Session["IdUtente"].ToString()), idProdotto = product.Id_Prodotto }, new { @class = "btn preferiti" });
                            }
                            else
                            {
                                @Html.ActionLink("Rimuovi dai preferiti", "RemovePreferito", "Carrello", new { idUtente = long.Parse(Session["IdUtente"].ToString()), idProdotto = product.Id_Prodotto }, new { @class = "btn preferiti" });
                            }
                            <br /><br /><br />
                            <a href="#" class="btn rimuovi" onclick="miaFunzione(@product.Id_Prodotto, @idOrdine, '@id_input_quant')">Rimuovi dal carrello</a>
                            <br /><br /><br />
                            <div class="number-input" style="margin-bottom: 1%; margin-right:6%">
                                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>
                                <input type="number" id="@id_input_quant" min="1" step="1" max="@quantitaSingolo" value="1" disabled>
                                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                            </div>
                        </div>
                        totale = totale + product.Prezzo * quantitaSingolo;
                        num++;
                    }
                    <div class="totale">
                        <div class="ptotale">
                            Totale: @totale €
                        </div>
                        <div type="button" class="btn acquista">Acquista</div>
                    </div>
                }
            }
        </div>
    }
}
<script>
    function miaFunzione(idProdotto, idOrdine, idInputQuant) {
        var idProd = idProdotto;
        var idOrd = idOrdine;
        var quant = document.getElementById(idInputQuant).value;
        window.location.href = "../../Carrello/RemoveFromCarrello?idOrdine=" + idOrd + "&idProdotto=" + idProd + "&quantita=" + quant;
    }
</script>
