@model IEnumerable<TestAmazon.Models.Prodotto>
@using TestAmazon.Models;
@{
    ViewBag.Title = "Categoria";
    var categorie = ViewBag.Categorie as List<Categoria>;
    string btnfirstclass = "btn btn_personal searchbarbtn";
    string btnlastclass = "btn btn_personal searchbarbtn";
    if (ViewBag.pag == 1)
    {
        btnfirstclass = "btn_useless searchbarbtn";
    }
    if (ViewBag.NumeroPagine == ViewBag.pag)
    {
        btnlastclass = "btn_useless searchbarbtn";
    }
}

<div style="text-align: center; margin-top: 20px"><a href="/"><img src="~/IMGS/logo.png" style="max-height:60px" /></a></div>


<div class="container" name="body_container">
    <div class="container" style="position:relative;width:94%;padding:10px;border-radius:3px;margin-left:50px;" name="pagebuttons_container">
        @using (Html.BeginForm())
        {
            <div style="position: relative;  padding: 10px; border-radius: 25px; width: 95%; min-width: 150px" class=" row">

                @if (!string.IsNullOrEmpty(ViewBag.searchtext))
                {
                    <input type="text" class="checkbox-inline" name="searchText" style="border-width: 3px; border-color: rgb(48, 71, 94); text-align: center; float: none; min-width: 100%; min-height: 50px; border-radius: 30px " placeholder="Cerca:" value="@ViewBag.searchtext" />
                }
                else
                {
                    <input type="text" class="checkbox-inline" name="searchText" style="border-width: 3px; border-color: rgb(48, 71, 94); text-align: center; float: none; min-width: 100%; min-height: 50px; border-radius: 30px " placeholder="Cerca:" />
                }
                <button type="submit" class="btn btn_personal" style="position: absolute; top: 28%; right: 15px; margin-left: 10px; background-color: white; color: rgb(34, 40, 49); float: right;border-radius:50px"><i class="fa-solid fa-magnifying-glass fa-xl"></i></button>
                <select name="searchCategory" title="Categorie" style="border:hidden; border-width:0px; position: absolute; top: 28%; left: 15px; min-height: 30px; text-align: right; float: inline-start; margin-left: 10px;  border-radius: 20px; text-align: right">
                    <option value="0">Tutte:</option>
                    @foreach (var categoria in categorie)
                    {
                        if (ViewBag.id_category != null && (long)ViewBag.id_category == categoria.Id_Categoria)
                        {
                            <option value="@categoria.Id_Categoria" selected>
                                @categoria.Nome_cat
                            </option>
                        }
                        else
                        {
                            <option value="@categoria.Id_Categoria">
                                @categoria.Nome_cat
                            </option>
                        }
                    }
                </select>
            </div>
        }
    </div>
    <div class="container table-bordered" name="pagebuttons_container" style="position: relative; width: 96%; background-color: white; padding: 10px; border-radius: 50px; margin-left: 0px; margin-bottom: 20px; min-width: 500px; min-height: 60px; border-color: rgb(48, 71, 94);border-width:3px">
        @*Qui ci metto il tasto di ricerca*@
        <div style="position:absolute;width:93%;border-width:3px;margin-right:10px;top:25%" class="text-center">
            <label>
                Pagina:
            </label>
            <label id="numPag">@ViewBag.pag</label>
            /
            <label id="totPag">
                @ViewBag.NumeroPagine
            </label>
        </div>
        <button style=" left:3%" class="@btnfirstclass" onclick="firstCategory()">
            @*Prima pagina*@
            <i class="fa-solid fa-angles-left fa-xl"></i>
        </button>
        <button style=" left: 13%" class="@btnfirstclass" onclick="minusCategory()">
            @*Indietro*@
            <i class="fa-solid fa-arrow-left fa-xl"></i>
        </button>

        <button style="right: 1%" class="@btnlastclass" onclick="lastCategory(@ViewBag.NumeroPagine)">
            @*Ultima Pagina*@
            <i class="fa-solid fa-angles-right fa-xl"></i>
        </button>
        <button style=" right: 11%" class="@btnlastclass" onclick="plusCategory(@ViewBag.NumeroPagine)">
            @*Avanti*@
            <i class="fa-solid fa-arrow-right fa-xl"></i>
        </button>

        <button style=" right: 21%" class="btn btn_personal searchbarbtn" onclick="window.location.href='../../Ricerca/Categorys/'">
            <i class="fa-solid fa-magnifying-glass fa-xl"></i>
        </button>

    </div>
    <div class="container  text-center" style="border-radius: 10px; border-color: rgb(204,204,204); min-width:400px" name="grid_container">
        @{


            // 3 elementi per riga
            if (Model != null && Model.Any())
            {
                foreach (var product in Model)
                {
                    string id_product_button = $"product{product.Id_Prodotto}";
                    string onclick = $"window.location.href='../../Prodotto/Singolo/{product.Id_Prodotto}'";
                    string price_p = $"p{product.Id_Prodotto}";


                    <div id="@id_product_button" class="checkbox-inline prodotto text-center table-bordered" onclick="@onclick" onmouseover="onMouseOver('@id_product_button')" onmouseleave="onMouseLeft('@id_product_button')">
                        <div name="container_img" class="row " style="height: 80%">
                            <div class="col-sm-10" style="min-width:125px;margin-left:10px;height:100%">
                                <img src="@product.IMG" class="img_personal" id="img_@product.Id_Prodotto" onmouseover="onMouseOverImage('img_@product.Id_Prodotto')" onmouseleave="onMouseLeaveImage('img_@product.Id_Prodotto')" />
                            </div>
                        </div>
                        <div class="container  " style="width: auto; margin-right: 20px;">
                            <div class="row color3" style="border-radius:3px">
                                <div class="col-lg-12">
                                    <div name="container_nameProduct" class="row " style="height: 10%; min-height: 30px;">
                                        <div>
                                            <p class="p_prodotto" style="margin-top: 10px">@product.Nome</p>
                                            <div class="col-lg-6">
                                                @*aggiungere il pulsante add to cart*@

                                            </div>
                                        </div>
                                    </div>
                                    <div name="container_PriceProduct" class="row " style="height: 10%; min-height: 30px; ">
                                        <div>
                                            <p id="@price_p" class="p_prodotto">
                                                @(product.Prezzo.ToString("N")+"€")
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <h1>Nessun Prodotto presente</h1>
            }

        }
    </div>
    <div class="container table-bordered" name="pagebuttons_container" style="position: relative; width: 96%; background-color: white; padding: 10px; border-radius: 50px; margin-left: 0px; margin-bottom: 20px; min-width: 500px; min-height: 60px; border-color: rgb(48, 71, 94);border-width:3px">
        @*Qui ci metto il tasto di ricerca*@
        <div style="position:absolute;width:93%;border-width:3px;margin-right:10px;top:25%" class="text-center">
            <label>
                Pagina:
            </label>
            <label >@ViewBag.pag</label>
            /
            <label >
                @ViewBag.NumeroPagine
            </label>
        </div>
        <button style=" left:3%" class="@btnfirstclass" onclick="firstCategory()">
            @*Prima pagina*@
            <i class="fa-solid fa-angles-left fa-xl"></i>
        </button>
        <button style=" left: 13%" class="@btnfirstclass" onclick="minusCategory()">
            @*Indietro*@
            <i class="fa-solid fa-arrow-left fa-xl"></i>
        </button>

        <button style="right: 1%" class="@btnlastclass" onclick="lastCategory(@ViewBag.NumeroPagine)">
            @*Ultima Pagina*@
            <i class="fa-solid fa-angles-right fa-xl"></i>
        </button>
        <button style=" right: 11%" class="@btnlastclass" onclick="plusCategory(@ViewBag.NumeroPagine)">
            @*Avanti*@
            <i class="fa-solid fa-arrow-right fa-xl"></i>
        </button>

        <button style=" right: 21%" class="btn btn_personal searchbarbtn" onclick="window.location.href='../Ricerca/Categorys/'">
            <i class="fa-solid fa-magnifying-glass fa-xl"></i>
        </button>

    </div>
</div>
